Django>=4.2
psycopg2-binary
redis
celery
djangorestframework
djangorestframework-simplejwt
gunicorn
django-filter
reportlab
channels
channels-redis
daphne
psycopg2-binary
django-storages
boto3
django-cors-headers
